#search-input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000; 
}

.dark-mode #search-input {
    background-color: #333; 
    border: 1px solid #555; 
    color: #fff; 
}

/* Search Button */
#search-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa; 
    cursor: pointer;
    font-size: 14px;
    color: #000; 
}

.dark-mode #search-button {
    background-color: #444; 
    color: #fff; 
}

#search-button:hover {
    background-color: #e8e8e8; 
}

.dark-mode #search-button:hover {
    background-color: #555; 
}

.gmail-link {
    text-decoration: underline; 
    margin-right: 20px; 
    color: #207a62;
    font-weight: bold; 
}

.gmail-link:hover {
    color: #6CC24A;
}

.flex-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
    height: 200px;
}

.my-carousel-container2 {
    margin-top: 10px;  
    margin-bottom: 2px;
    text-align: left; 
}

.carousel-inner .row {
    margin-left: 0;
    margin-right: 0;
    height: 100px; 
    max-height: 100px; 
    overflow: hidden;
}

 
.score-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    padding: 5px;
}

.col-sm-3 {
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 5px;
    border-right: 1px solid lightgray; 
    border-radius: 5px;
    position: relative; 
}


.date-plus-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.date {
    font-size: 14px;
    color: gray;
}

.plus-button-container {
    position: relative;
}

.plus-button-container button {
    background-color: rgb(0, 93, 64);
    border: none;
    color: white;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.plus-button-container .dropdown-links {
    display: none; 
    position: absolute; 
    background-color: white; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    z-index: 1000; 
    width: auto;
    right: 0;
    height: auto;
    margin-top: 2px;
    padding: 0;
}

.plus-button-container .dropdown-links a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: #333; 
    font-size: 12px;
    white-space: nowrap;
}

.plus-button-container .dropdown-links a:hover {
    background-color: #f1f1f1; 
}

.plus-button-container button:hover {
    background-color: rgb(77, 179, 143);
}

.dark-mode .plus-button-container .dropdown-links {
    background-color: #333; 
    border: 1px solid #555; 
}

.dark-mode .plus-button-container .dropdown-links a {
    color: white; 
}

.dark-mode .plus-button-container .dropdown-links a:hover {
    background-color: #444; 
}

.teams {
    display: flex;
    align-items: left;
    gap: 5px; 
    margin-bottom: 4px;
}

.teams img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.dark-mode .col-sm-3 {
    border-right: 1px solid #777; 
}


.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 30px;
    height: 50px;
    background-color: rgb(0, 93, 64); 
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-control.left {
    left: -50px;
}

.carousel-control.right {
    right: -50px; 
}

.carousel-control .fa {
    font-size: 12px; 
    line-height: 50px; 
}

.dark-mode .carousel-control {
    background-color: rgb(77, 179, 143); 
    color: white; 
}

.composite_calendar {
    display: flex;
    flex-direction: column; 
}

.calendar-link {
    margin-top: auto;
    display: block;
    text-align: left;
    font-size: 14px;
    text-decoration: underline;
    color: gray;
}

.box-wrapper {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 30px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; 
    max-width: 1200px; 
}

.dark-mode .box-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; 
    max-width: 1200px; 
}

@media (max-width: 768px) {
    .box-container {
        flex-direction: column; 
        padding: 10px;
        width: 100%;
    }

    .scrollable-container {
        height: auto;
        max-height: none;
        margin-bottom: 10px;
    }

    .news-header {
        font-size: 1px;
        margin-bottom: 20px;
        padding: 8px 0;
        left: 0;
        right: 0;
        margin-left: -10px; 
        margin-right: -10px;
    }

    .news-header span {
        display: inline-block; 
        margin-right: 5px; 
    }
}

/* Scrollable Containers */
.scrollable-container {
    height: 400px;
    max-height: 400px;
    min-height: 400px;
    width: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.dark-mode .scrollable-container {
    background-color: #222;
    border: 1px solid #555;
}


/* News Container */
.news-container {
    padding-right: 10px;
    padding-left: 10px; 
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
}

.news-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333; 
    position: sticky;
    background-color: #f9f9f9;
    top: 0;
    z-index: 10;
    padding: 10px 0;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin-left: -20px;
    margin-right: -20px;
}

.dark-mode .news-header {
    color: #fff; 
    background-color: #222;
}


.fixed-row {
    display: flex; 
    height: 130px;
    align-items: center; 
    padding: 5px; 
    margin-bottom: 10px; 
    background-color: #fff;
    color: rgb(83, 80, 80); 
    font-style: italic;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.fixed-row:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.dark-mode .fixed-row {
    background-color: #333; 
    border: 1px solid #555; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}

.dark-mode .fixed-row:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); 
}


.fixed-row .col-sm-4 {
    flex: 0 0 20%; 
    max-width: 20%; 
    height: 100px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}

.fixed-row img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}


.fixed-row .col-sm-8 {
    flex: 0 0 80%; 
    max-width: 80%; 
    padding-left: 10px; 
    display: block;

}

.content-wrapper {
    display: flex;
    flex-direction: column; 
}

.story-footer {
    margin-top: auto;
    display: block;
    text-align: right;
    font-size: 12px;
    color: gray;
}

.fixed-row h4 {
    font-size: 15px;
    margin: 0;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@media (max-width: 768px) {
    .fixed-row .col-sm-8 {
        flex: 0 0 100%;       
        max-width: 300px;     
        padding-left: 0; 
        margin: 0 auto;    
    }

    .fixed-row h4 {
        font-size: 12px; 
    }
}

.prominent-news-image {
    width: 100%; 
    height: auto;
}

.list-group-item-heading {
    font-size: 14px;
    margin-bottom: 10px;
}

.story-footer {
    margin-top: 5px;
    display: block;
    text-align: right;
}


.switch {
    cursor: pointer;
}

.slider {
    cursor: pointer;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    position: relative; 
    width: 40px; 
    height: 23px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px; 
    width: 20px; 
    left: 2px; 
    bottom: 2px; 
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.dark-mode-text{
    font-size: 13px;
    margin-right: 10px;
}

/* Dark and Light Mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Frequent Websites */

.frequent-websites-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
    max-height: 100px;
    margin-bottom: 40px;
    border: 1px solid #ddd; 

}

.frequent-website {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    
}

.website-icon {
    width: 32px; 
    height: 32px;
    object-fit: contain;
    margin-right: 10px; 
    border-radius: 4px; 
}

.frequent-website span {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
    display: block;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dark-mode .frequent-websites-container {
    background-color: #222; 
    color: #fff;
    box-shadow: none; 
    border: 1px solid #555; 
}

.dark-mode .frequent-website span {
    color: #ccc; 
}

@media (max-width: 768px) {
    .frequent-websites-container {
        padding: 15px;
        width: 90%; 
        margin-bottom: 20px; 
    }

    .frequent-website {
        flex-direction: row; 
        margin: 10px 0; 
    }

    .website-icon {
        width: 24px; 
        height: 24px;
        margin-right: 8px;
    }

    .frequent-website span {
        font-size: 10px; 
        max-width: 80px; 
    }
}

@media (max-width: 600px) {
    #logo {
        height: 140px !important; 
        width: 350px !important;
    }

    #search-input {
        width: 80% !important;
        height: 30px !important;
        font-size: 14px !important; 
    }

    #search-button {
        height: 35px !important;
        font-size: 12px !important;
    }

    /* Hide Other Containers */
    .flex-container,
    .gmail-link,
    .switch,
    .dark-mode-text,
    .my-carousel-container2,
    .box-wrapper, 
    .box-container,
    .scrollable-container,
    .frequent-websites-container,
    .frequent-website,
    .carousel-control{
        display: none !important;
    }
}