#search-input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000; 
}

.dark-mode #search-input {
    background-color: #333; 
    border: 1px solid #555; 
    color: #fff; 
}

/* Search Button */
#search-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa; 
    cursor: pointer;
    font-size: 14px;
    color: #000; 
}

.dark-mode #search-button {
    background-color: #444; 
    color: #fff; 
}

#search-button:hover {
    background-color: #e8e8e8; 
}

.dark-mode #search-button:hover {
    background-color: #555; 
}


.flex-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
    height: 200px;
}

.my-carousel-container2 {
    margin-top: 10px;  
    margin-bottom: 2px;
    text-align: left; 
}

.carousel-inner .row {
    margin-left: 0;
    margin-right: 0;
    height: 100px; 
    overflow: hidden;
}

.score-entry {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 3px;
}

.date {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.teams {
    display: flex;
    align-items: left;
    gap: 5px; 
    margin-bottom: 4px;
}

.teams img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.col-sm-3 {
    padding: 5px;
    display: flex;
    justify-content: left; 
    align-items: left;
    border-right: 1px solid lightgray; 
    border-radius: 5px;     
}

.dark-mode .col-sm-3 {
    border-right: 1px solid #777; 
}


.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 30px;
    height: 50px;
    background-color: rgb(0, 93, 64); 
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-control.left {
    left: -50px;
}

.carousel-control.right {
    right: -50px; 
}

.carousel-control .fa {
    font-size: 12px; 
    line-height: 50px; 
}

.dark-mode .carousel-control {
    background-color: rgb(77, 179, 143); 
    color: white; 
}

/* News Container */
.news-container {
    padding-right: 30px;
    padding-left: 30px;
    width: 80%; 
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
}


.news-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; 
}

.dark-mode .news-header {
    color: #fff; 
}

.fixed-row {
    display: flex; 
    height: 180px;
    align-items: center; 
    padding: 5px; 
    margin-bottom: 10px; 
    background-color: #fff;
    color: rgb(83, 80, 80); 
    font-style: italic;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.fixed-row:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.dark-mode .fixed-row {
    background-color: #333; 
    border: 1px solid #555; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}

.dark-mode .fixed-row:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); 
}


.fixed-row .col-sm-4 {
    flex: 0 0 40%; 
    max-width: 40%; 
    height: 150px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}

.fixed-row img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}

.fixed-row .col-sm-8 {
    flex: 0 0 60%; 
    max-width: 60%; 
    padding-left: 15px; 
    display: flex;
    align-items: center; 
}

.fixed-row h4 {
    font-size: 16px;
    margin: 0; 
}

.prominent-news-image {
    width: 100%; 
    height: auto;
}

.list-group-item-heading {
    font-size: 18px;
    margin-bottom: 10px;
}


.switch {
    cursor: pointer;
}

.slider {
    cursor: pointer;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    position: relative; 
    width: 40px; 
    height: 23px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px; 
    width: 20px; 
    left: 2px; 
    bottom: 2px; 
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* Dark and Light Mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}
